@import './base/index-base';
@import './utils/index-utils';
@import './components/3d-printing-page-modules';

.container {
    max-width: 1440px;
    margin: 0 auto;

    @include mobile {
        max-width: 480px;
    }

    @include tablet {
        max-width: 768px;
    }

    @include desktop {
        max-width: 1440px;
    }
}

.modeling-methods {
    padding: 0 20px 40px 20px;

    @include tablet {
        padding: 0 32px 40px 32px;
    }
    @include desktop {
        padding: 0 149px 100px 149px;
    }    
}

.modeling-methods__wrap {
    padding: 0;

    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    @include desktop {
        align-items: flex-end;
    }    
}

.modeling-methods__title {
    @include font (700, 18px, 1.28, null);
    color: #487996;
    text-transform: uppercase;

    @include tablet {
        @include font (700, 24px, 1.25, null);
    }

    @include desktop {
        @include font (700, 36px, 1.25, null);
    }
}

.modeling-methods__list {
    margin-bottom: 40px;

    @include tablet {
        margin-bottom: 0;
    }
}

.modeling-methods__item {
    @include font (300, 16px, 1.25, null);
    color: #2B2B2B;
    margin-top: 16px;
    position: relative;
    margin-left: 15px;


    @include desktop {
        @include font (300, 18px, 1.28, null);
            margin-left: 17px;

        &:first-child {
            margin-top: 24px;
        }
    }

    &::before {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 3px 0px;
        background: #487996;
        
        position: absolute;
        left: -15px;
        top: 7px;

        @include desktop {
            width: 8px;
            height: 8px;
            left: -17px;
        }
    }
}

.modeling-methods__img {
    width: 280px;
    height: 164px;
    background-image: url("/src/images/3d-modeling/3d-model-m-x1.png");
    background-size: 280px 164px;
    background-repeat: no-repeat;
    margin: 0 auto;

    @include retina {
        background-image: url("/src/images/3d-modeling/3d-model-m-x2.png");
    }

    @include tablet {
        width: 246px;
        height: 144px;
        background-image: url("/src/images/3d-modeling/3d-model-t-x1.png");
        background-size: 246px 144px;

        @include retina {
        background-image: url("/src/images/3d-modeling/3d-model-t-x2.png");
        }        
    }
    @include desktop {
        width: 555px;
        height: 301px;
        background-image: url("/src/images/3d-modeling/3d-model-d-x1.png");
        background-size: 555px 301px;

        @include retina {
        background-image: url("/src/images/3d-modeling/3d-model-d-x2.png");
        }        
    }
}