$primary-color: #212121;
$secondary-color: #757575;
$bcg-color-one: #ffffff;
$bcg-color-two: #2f303a;
$bcg-color-three: #e5e5e5;
$bcg-color-four: #f5f4fa;
$accent-color: #2196f3;
$btn-secondary-accent-color: #188ce8;
$logo-black: #000000;
$address-link-color: rgba(255, 255, 255, 0.6);
$social-media-icon-fill-color: #afb1b8;
$social-media-link-bcg-color: rgba(255, 255, 255, 0.1);
$header-border-color: #ececec;
$portfolio-border-color: #eeeeee;

$font-main: "Roboto", sans-serif;
$font-second: "Raleway", sans-serif;

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
