:root {
  --primary-color: #2b2b2b;
  --secondary-color: #487996;
  --accent-color: #008cef;
  --accent-color-second: #bdbdbd;

  --bcg-color-one: #ffffff;
  --bcg-color-two: #e5e5e5;

  --font-main: 'Cera Pro';

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
