<section class="modeling-methods">
  <div class="container">
    <div class="modeling-methods__wrap">
      <h3 class="modeling-methods__title">Способи створення моделі:</h3>
      <ul class="modeling-methods__list">
        <li class="modeling-methods__item">3D сканування</li>
        <li class="modeling-methods__item">
          На основі фотографій з доданими розмірами
        </li>
        <li class="modeling-methods__item">За ескізами з розмірами</li>
        <li class="modeling-methods__item">За вашим кресленням</li>
        <li class="modeling-methods__item">
          По вже існуючому прототипу шляхом зняття розмірів
        </li>
      </ul>
    </div>
    <div class="modeling-methods__img"></div>
  </div>
</section>
