<section class="modeling-creating">
    <div class="container">
        <h3 class="modeling-creating__title">МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ
        ЗОБРАЖЕННЯ МОДЕЛЕЙ</h3>
        <ul class="modeling-creating__list">
            <li class="modeling-creating__item">
                <picture>
                    <source
                        srcset="
                            ./images/3d-modeling/3d-model01-dx1.png 1x,
                            ./images/3d-modeling/3d-model01-dx2.png 2x"
                        media="(min-width: 1440px)"/>
                    <source 
                        srcset="
                            ./images/3d-modeling/3d-model01-tx1.png 1x,
                            ./images/3d-modeling/3d-model01-tx2.png 2x"
                        media="(min-width: 768px)"/>
                    <source 
                        srcset="
                            ./images/3d-modeling/3d-model01-mx1.png 1x,
                            ./images/3d-modeling/3d-model01-mx2.png 2x"
                        media="(max-width: 767px)"/>                        
                    <img 
                        src="./images/3d-modeling/3d-model01-dx1.png" 
                        alt="модель 1">
                </picture>
            </li>
            <li class="modeling-creating__item">
                <picture>
                    <source
                        srcset="
                            ./images/3d-modeling/3d-model02-dx1.png 1x,
                            ./images/3d-modeling/3d-model02-dx2.png 2x"
                        media="(min-width: 1440px)"/>
                    <source 
                        srcset="
                            ./images/3d-modeling/3d-model02-tx1.png 1x,
                            ./images/3d-modeling/3d-model02-tx2.png 2x"
                        media="(min-width: 768px)"/>
                    <source 
                        srcset="
                            ./images/3d-modeling/3d-model02-mx1.png 1x,
                            ./images/3d-modeling/3d-model02-mx2.png 2x"
                        media="(max-width: 767px)"/>                        
                    <img 
                        src="./images/3d-modeling/3d-model02-dx1.png" 
                        alt="модель 2">
                </picture>
            </li>
            <li class="modeling-creating__item">
                <picture>
                    <source
                        srcset="
                            ./images/3d-modeling/3d-model03-dx1.png 1x,
                            ./images/3d-modeling/3d-model03-dx2.png 2x"
                        media="(min-width: 1440px)"/>
                    <source 
                        srcset="
                            ./images/3d-modeling/3d-model03-tx1.png 1x,
                            ./images/3d-modeling/3d-model03-tx2.png 2x"
                        media="(min-width: 768px)"/>
                    <source 
                        srcset="
                            ./images/3d-modeling/3d-model03-mx1.png 1x,
                            ./images/3d-modeling/3d-model03-mx2.png 2x"
                        media="(max-width: 767px)"/>                        
                    <img 
                        src="./images/3d-modeling/3d-model03-dx1.png" 
                        alt="модель 3">
                </picture>
            </li>
            <li class="modeling-creating__item">
                <picture>
                    <source
                        srcset="
                            ./images/3d-modeling/3d-model04-dx1.png 1x,
                            ./images/3d-modeling/3d-model04-dx2.png 2x"
                        media="(min-width: 1440px)"/>
                    <source 
                        srcset="
                            ./images/3d-modeling/3d-model04-tx1.png 1x,
                            ./images/3d-modeling/3d-model04-tx2.png 2x"
                        media="(min-width: 768px)"/>
                    <source 
                        srcset="
                            ./images/3d-modeling/3d-model04-mx1.png 1x,
                            ./images/3d-modeling/3d-model04-mx2.png 2x"
                        media="(max-width: 767px)"/>                        
                    <img 
                        src="./images/3d-modeling/3d-model04-dx1.png" 
                        alt="модель 4">
                </picture>
            </li>
        </ul>
    </div>
</section>