<h2 class="visually-hidden">Наші послуги</h2>
<ul class="service__list">
  <li class="service__item">
    <picture class="service__img"> </picture>
    <div class="service__thumb">
      <ul class="description">
        <li class="description__item">
          <p class="description__text">
            <span class="description__name">3D-друк</span> - ми використовуємо
            FDM технологію друку. Вона представляє собою пошарове формування
            об'єкта за допомогою 3D принтера.
          </p>
        </li>
        <li class="description__item">
          <p class="description__text">
            Моделі для створення розроблюються дизайнерами в спеціальному
            програмному забезпеченні: системах автоматизованого проектування.
          </p>
        </li>
        <li class="description__item">
          <p class="description__text">
            3D друк знайшов широке застосування в архітектурі, промисловості,
            маркетингу, мистецтві і багатьох інших сфер.
          </p>
        </li>
      </ul>
      <button class="service__button" type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
    </div>
  </li>
  <li class="service__item">
    <picture class="service__img"> </picture>
    <div class="service__thumb">
      <ul class="description">
        <li class="description__item">
          <p class="description__text">
            <span class="description__name">3D-моделювання</span> - це процес
            розробки математичного уявлення будь-якої поверхні об'єкта в трьох
            вимірах за допомогою спеціалізованого програмного забезпечення.
          </p>
        </li>
        <li class="description__item">
          <p class="description__text">
            Наші дизайнери зпроектують будь-який виріб виходячи з ваших
            побажань.
          </p>
        </li>
        <li class="description__item">
          <p class="description__text">
            Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка
            повністю задовольнить ваші потреби.
          </p>
        </li>
      </ul>
      <button class="service__button" type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
    </div>
  </li>
  <li class="service__item">
    <picture class="service__img"> </picture>
    <div class="service__thumb">
      <ul class="description">
        <li class="description__item">
          <p class="description__text">
            <span class="description__name">3D-сканування</span> - зняття даних,
            шляхом аналізу форми предмета і на основі отриманих даних створення
            її 3D-моделі.
          </p>
        </li>
        <li class="description__item">
          <p class="description__text">
            Це універсальний інструмент, який дозволяє отримати як і просто
            3D-модель для візуалізації в цифровому вигляді, так і 3D-модель для
            подальшого її друку на 3D-принтері.
          </p>
        </li>
      </ul>
      <button class="service__button" type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
    </div>
  </li>
</ul>
