<section class="printing-examples">
  <div class="container">
    <h2 class="printing-examples__heading">МИ СТВОРЮЄМО</h2>
    <ul class="printing-examples-list list">
      <li class="printing-examples-list__item">
        <picture>
          <source
            srcset="
              ./images/create/create-01d-x1.png 1x,
              ./images/create/create-01d-x2.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/create/create-01t-x1.png 1x,
              ./images/create/create-01t-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/create/create-01m-x1.png 1x,
              ./images/create/create-01m-x2.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/create/create-01m-x1.png" alt="Блок двигуна" />
        </picture>
        <h3 class="printing-examples-list__heading">ПРОТОТИПИ</h3>
      </li>
      <li class="printing-examples-list__item">
        <picture>
          <source
            srcset="
              ./images/create/create-02d-x1.png 1x,
              ./images/create/create-02d-x2.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/create/create-02t-x1.png 1x,
              ./images/create/create-02t-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/create/create-02m-x1.png 1x,
              ./images/create/create-02m-x2.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/create/create-02m-x1.png" alt="Житловий будинок" />
        </picture>
        <h3 class="printing-examples-list__heading">МАКЕТИ</h3>
      </li>
      <li class="printing-examples-list__item">
        <picture>
          <source
            srcset="
              ./images/create/create-03d-x1.png 1x,
              ./images/create/create-03d-x2.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/create/create-03t-x1.png 1x,
              ./images/create/create-03t-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/create/create-03m-x1.png 1x,
              ./images/create/create-03m-x2.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/create/create-03m-x1.png" alt="Ваза" />
        </picture>
        <h3 class="printing-examples-list__heading">ДЕКОР</h3>
      </li>
      <li class="printing-examples-list__item">
        <picture>
          <source
            srcset="
              ./images/create/create-04d-x1.png 1x,
              ./images/create/create-04d-x2.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/create/create-04t-x1.png 1x,
              ./images/create/create-04t-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/create/create-04m-x1.png 1x,
              ./images/create/create-04m-x2.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/create/create-04m-x1.png" alt="Куб" />
        </picture>
        <h3 class="printing-examples-list__heading">КОРПОРАТИВНИЙ ДИЗАЙН</h3>
      </li>
    </ul>
  </div>
</section>
