<section class="scanning-process section">
  <div class="container">
    <h3 class="scanning-process__title">ПРОЦЕСС 3D СКАНИРОВАНИЕ</h3>
    <ul class="scanning-process__list list">
      <li class="scanning-process__item img-one">
        <h4 class="scanning-process__item-title">
          Подготовка<span class="scanning-process__item-titile-one">
            детали</span
          ><span class="scanning-process__item-titile-two">к сканированию</span>
        </h4>
      </li>
      <li class="scanning-process__item img-two">
        <h4 class="scanning-process__item-title">
          Создание<span class="scanning-process__item-titile-one"> сканов</span>
          <span class="scanning-process__item-titile-two"> и их обработка</span>
        </h4>
      </li>
      <li class="scanning-process__item img-three">
        <h4 class="scanning-process__item-title">
          Преобразование
          <span class="scanning-process__item-titile-one">reverse</span>
          <span class="scanning-process__item-titile-two">engineering</span>
        </h4>
      </li>
      <li class="scanning-process__item img-four">
        <h4 class="scanning-process__item-title">
          Підготовка
          <span class="scanning-process__item-titile-one">моделі</span>
          <span class="scanning-process__item-titile-two">до друку</span>
        </h4>
      </li>
    </ul>
  </div>
</section>
