<section class="scanning-process section">
    <div class="container">
      <h3 class="scanning-process__title">ПРОЦЕС 3D СКАНУВАННЯ</h3>
      <ul class="scanning-process__list list">
        <li class="scanning-process__item img-one">
          <h4 class="scanning-process__item-title">
            Підготовка<span class="scanning-process__item-title-one">
              деталі</span><span class="scanning-process__item-title-two">до сканування</span>
          </h4>
        </li>
        <li class="scanning-process__item img-two">
          <h4 class="scanning-process__item-title">
            Створення<span class="scanning-process__item-title-one">
              сканів</span>
            <span class="scanning-process__item-title-two"> и їх обробка</span>
          </h4>
        </li>
        <li class="scanning-process__item img-three">
          <h4 class="scanning-process__item-title">
            Перетворення
            <span class="scanning-process__item-title-one">reverse</span>
            <span class="scanning-process__item-title-two">engineering</span>
          </h4>
        </li>
        <li class="scanning-scan-process__item img-four">
          <h4 class="scanning-process__item-title">
            Підготовка<span class="scanning-process__item-title-one">моделі</span>
              
            
            <span class="scanning-process__item-title-two"> до друку</span>
          </h4>
        </li>
      </ul>
    </div>
  </section>
  
            