<section class="section">
    <div class="container">
        <ul class="list">
            <li class="contacts">
             <h3 class="title">ТЕЛЕФОНИ</h3>
             <ul class="contacts__number">
              <li class="contacts__list"><a class="contacts__tel" href="tel:+380957384551">+38 (095) -73-84-551</a></li>
              <li class="contacts__list"><a class="contacts__tel" href="tel:+380980025235">+38 (098) -00-25-235</a></li>
             </ul>
            </li>
            <li class="contacts">
             <h3 class="title">Email</h3>
             <a class="contacts__mail" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
            </li>
            <li class="contacts work">
             <h3 class="title">РОБОЧИЙ ЧАС</h3>
             <ul class="work__time">
               <li class="time">
                 <p class="paragraph">Пн-Пт:</p>
                 <p class="paragraph">З 8:00 До 19:00</p>
               </li>
               <li class="time">
                <p class="paragraph">Сб, Нд:</p>
                <p class="paragraph">З 10:00 До 17:00</p>
               </li>
             </ul>
            </li>
          </ul>
    </div>
</section>