<section class="contacts-hero">
  <div class="container container-desktop">
    <h1 class="hero-title">КОНТАКТИ</h1>
    <div class="contacts-her_container">
      <iframe
        class="contacts-hero__frame"
        max-width="555"
        max-height="315"
        src="https://www.youtube.com/embed/9GkGbj6xNhs"
        title="Top 5 Stylish 3D Printed Lamp -  Satisfying TimeLapse"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div class="contacts-hero-content">
        <p class="contacts-hero__text">
          Людина уперше побачивши процес 3D друку може легко захопитися
          спостереженням за цим процесом не на десяток хвилин.
        </p>
        <p class="contacts-hero__text">
          Наша команда створює timelapse відео що б ви могли краще ознайомитися
          з технологією 3D друку і просто помилуватися красою цього процесу.
        </p>

        <div class="contacts-hero__emoji">
          <p class="contacts-hero__text-emoji">Приємного перегляду!</p>
          <img class="contacts-hero__icon" src="./images/emoji-d-x1.png"" alt=""
          >
        </div>
      </div>
    </div>
  </div>
</section>
