<header >
    <div class="container">
    <a href="" class="header__logo">
      <picture>
        <picture>
            <source srcset="./images/logo-d-x1.png 1x, 
            ./images/logo-d-x2.png 2x"
            media="(min-width: 1440px)">
            <source srcset="./images/logo-t-x1.png 1x, 
            ./images/logo-t-x2.png 2x"
            media="(min-width: 768px)">
            <source srcset="./images/logo-m-x1.png 1x, 
            ./images/logo-m-x2.png 2x"
            media="(max-width: 767px)"> 
            <img src="./images/logo-m-x1.png" alt="logo" />
          </picture> </a>
        <button type="button" class="menu-open">
        <img src="./images/SVG/icon-burger.svg" class="burger-icon" width=32 height=32>
      </button>
        <button type="button" class="header-button__phone">
          <img src="./images/SVG/icon-call.svg" class="burger-icon" width=24 height=24></button>
        <button type="button"class="header-button__lang">ENG</button>
        <section class="header-phone">
          <a href=""><img src="./images/SVG/icon-call.svg" class="burger-icon" width=24 height=24> +38 (093) 643 22 88 </a>
          <a href=""><img src="./images/SVG/icon-call.svg" class="burger-icon" width=24 height=24> +38 (050) 345 44 23 </a>
          <section> 
 <div class="mob-menu visually-hidden">
    <div class="container">
      <nav>
            <ul class="mob-menu-list list">
              <ul>
            <li class="mob-menu-list__item">
              <a href="./index.html" class="mob-menu__link">ГОЛОВНА</a>
            </li>
              <li class="mob-menu-list__item">
              <a href="#" class="mob-menu__link">ПОСЛУГИ</a>
            </li>
            <li class="mob-menu-list__item">
              <a href="./3d-modeling-page.html" class="mob-menu__link"
                >3D Моделювання</a
              >
            </li>
            <li class="mob-menu-list__item">
              <a href="./3d-scanning-page.html" class="mob-menu__link"
                >3D Сканування</a
              >
            </li>
            <li class="mob-menu-list__item">
              <a href="./3d-printing-page.html" class="mob-menu__link">3D Друк</a>
            </li>
            <li class="mob-menu-list__item">
              <a href="./take-order-page.html" class="mob-menu__link">ЗАМОВИТИ</a>
            </li>
            <li class="mob-menu-list__item">
              <a href="./contacts-page.html" class="mob-menu__link">КОНТАКТИ</a>
            </li>
          </ul>
        </nav>
        </div>      
    </div>
    <script src="./menu.js"></script>
</header>