       <section class="main-hero">
        <div class="container">
        <h1 class="main-hero__title">
          Інженерна, конструкторська та дизайнерська робота
        </h1>
        <div class="main-hero__images-wrap">
          <picture>
            <source
              srcset="
                ./images/main/main-hero01d-x1-min.jpg 1x,
                ./images/main/main-hero01d-x2-min.jpg 2x
              "
              media="(min-width: 1200px)" />

            <source
              srcset="
                ./images/main/main-hero01t-x1-min.jpg 1x,
                ./images/main/main-hero01t-x2-min.jpg 2x
              "
              media="(min-width: 768px)" />

            <source
              srcset="
                ./images/main/main-hero01m-x1-min.jpg 1x,
                ./images/main/main-hero01m-x2-min.jpg 2x
              "
              media="(max-width: 767px)" />

            <img class="main-hero__image main-hero__image--robot" src="./images/main/main-hero01m-x1-min.jpg" alt="robot"
          /></picture>

          <picture>
            <source
              srcset="
                ./images/main/main-hero02d-x1-min.jpg 1x,
                ./images/main/main-hero02d-x2-min.jpg 2x
              "
              media="(min-width: 1200px)" />

            <source
              srcset="
                ./images/main/main-hero02t-x1-min.jpg 1x,
                ./images/main/main-hero02t-x2-min.jpg 2x
              "
              media="(min-width: 768px)" />

            <source
              srcset="
                ./images/main/main-hero02m-x1-min.jpg 1x,
                ./images/main/main-hero02m-x2-min.jpg 2x
              "
              media="(max-width: 767px)" />

            <img class="main-hero__image main-hero__image--lamps" src="./images/main/main-hero02m-x1-min.jpg" alt="lamps"
          /></picture>

          <picture>
            <source
              srcset="
                ./images/main/main-hero03d-x1-min.jpg 1x,
                ./images/main/main-hero03d-x2-min.jpg 2x
              "
              media="(min-width: 1200px)" />

            <source
              srcset="
                ./images/main/main-hero03t-x1-min.jpg 1x,
                ./images/main/main-hero03t-x2-min.jpg 2x
              "
              media="(min-width: 768px)" />

            <source
              srcset="
                ./images/main/main-hero03m-x1-min.jpg 1x,
                ./images/main/main-hero03m-x2-min.jpg 2x
              "
              media="(max-width: 767px)" />

            <img class="main-hero__image main-hero__image--skull" src="./images/main/main-hero03m-x1-min.jpg" alt="skull"
          /></picture>
        </div>
        <p class="main-hero__text">Ми втілюємо ідеї в реальність</p>
      </section>
