<div class="pattern-wrap container">
  <div class="pattern__item--1"></div>
  <div class="pattern__item--2"></div>
  <div class="pattern__item--3"></div>
  <div class="pattern__item--4"></div>
  <img
    class="pattern__item--5"
    src="./images/main/deco-01d-x1-min.jpg"
    alt="plants mosaics"
  />
  <div class="pattern__item--6"></div>
  <div class="pattern__item--7"></div>
  <div class="pattern__item--8"></div>
  <img
    class="pattern__item--9"
    src="./images/main/deco-03d-x1-min.jpg"
    alt="phone"
  />
  <div class="pattern__item--10"></div>
  <div class="pattern__item--11"></div>
  <div class="pattern__item--12"></div>
  <div class="pattern__item--13"></div>
  <div class="pattern__item--14"></div>
  <div class="pattern__item--15"></div>
  <div class="pattern__item--16"></div>
  <img
    class="pattern__item--17"
    src="./images/main/deco-02d-x1-min.jpg"
    alt="color machine"
  />
  <div class="pattern__item--18"></div>
  <div class="pattern__item--19"></div>
  <div class="pattern__item--20"></div>
  <img
    class="pattern__item--21"
    src="./images/main/deco-04d-x1-min.jpg"
    alt="mushroom"
  />
  <div class="pattern__item--22"></div>
  <div class="pattern__item--23"></div>
  <div class="pattern__item--24"></div>
  <img
    class="pattern__item--25"
    src="./images/main/deco-05d-x1.jpg"
    alt="tank"
  />
  <div class="pattern__item--26"></div>
  <div class="pattern__item--27"></div>
  <div class="pattern__item--28"></div>
</div>
