<section class="more-photos">
  <div class="container">
    <div class="photo-div">
      <h1 class="more-photos__title">БІЛЬШЕ ФОТО</h1>
      <div class="page">
        <ul class="more-photos__list">
          <li class="more-photos__item">
            <a href="" class="more-photos__link">
              <picture>
                <source
                  srcset="
                    ./images/main/more-photos01d-x1-min.jpg 1x,
                    ./images/main/more-photos01d-x2-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos01t-x1-min.jpg 1x,
                    ./images/main/more-photos01t-x2-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos01m-x1-min.jpg 1x,
                    ./images/main/more-photos01m-x2-min.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  src="./images/main/more-photos01d-x1-min.jpg"
                  alt="3DФігурки"
                  class="image"
                /> </picture
            ></a>
          </li>
          <li class="more-photos__item">
            <a href="" class="more-photos__link"
              ><picture>
                <source
                  srcset="
                    ./images/main/more-photos02d-x1-min.jpg 1x,
                    ./images/main/more-photos02d-x2-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos02t-x1-min.jpg 1x,
                    ./images/main/more-photos02t-x2-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos02m-x1-min.jpg 1x,
                    ./images/main/more-photos02m-x2-min.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  src="./images/main/more-photos02d-x1-min.jpg"
                  alt="3DФігурки"
                  class="image"
                /> </picture
            ></a>
          </li>
          <li class="more-photos__item">
            <a href="" class="more-photos__link"
              ><picture>
                <source
                  srcset="
                    ./images/main/more-photos03d-x1-min.jpg 1x,
                    ./images/main/more-photos03d-x2-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos03t-x1-min.jpg 1x,
                    ./images/main/more-photos03t-x2-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos03m-x1-min.jpg 1x,
                    ./images/main/more-photos03m-x2-min.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  src="./images/main/more-photos03m-x2-min.jpg"
                  alt="3DРобот"
                  class="image"
                /> </picture
            ></a>
          </li>
          <li class="more-photos__item items">
            <a href="" class="more-photos__link"
              ><picture>
                <source
                  srcset="
                    ./images/main/more-photos04d-x1-min.jpg 1x,
                    ./images/main/more-photos04d-x2-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos04t-x1-min.jpg 1x,
                    ./images/main/more-photos04t-x2-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <img
                  src="./images/main/more-photos04d-x1-min.jpg"
                  alt="3DФігурки"
                  class="image"
                /> </picture
            ></a>
          </li>
          <li class="more-photos__item items">
            <a href="" class="more-photos__link"
              ><picture>
                <source
                  srcset="
                    ./images/main/more-photos05d-x1-min.jpg 1x,
                    ./images/main/more-photos05d-x2-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos05t-x1-min.jpg 1x,
                    ./images/main/more-photos05t-x2-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <img
                  src="./images/main/more-photos05d-x1-min.jpg"
                  alt="3DФігурки"
                  class="image"
                /> </picture
            ></a>
          </li>
          <li class="more-photos__item items">
            <picture>
              <source
                srcset="
                  ./images/main/more-photos06d-x1-min.jpg 1x,
                  ./images/main/more-photos06d-x2-min.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./images/main/more-photos06t-x1-min.jpg 1x,
                  ./images/main/more-photos06t-x2-min.jpg 2x
                "
                media="(min-width:768px)"
              />
              <img
                src="./images/main/more-photos06d-x1-min.jpg"
                alt="3D Фігурки"
                class="image"
                id="myImg"
              />
            </picture>
          </li>
          <li class="more-photos__item items">
            <a href="" class="more-photos__link"
              ><picture>
                <source
                  srcset="
                    ./images/main/more-photos07d-x1-min.jpg 1x,
                    ./images/main/more-photos07d-x2-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos07t-x1-min.jpg 1x,
                    ./images/main/more-photos07t-x2-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <img
                  src="./images/main/more-photos07d-x1-min.jpg"
                  alt="3DФігурки"
                  class="image"
                /> </picture
            ></a>
          </li>
          <li class="more-photos__item items">
            <a href="" class="more-photos__link"
              ><picture>
                <source
                  srcset="
                    ./images/main/more-photos08d-x1-min.jpg 1x,
                    ./images/main/more-photos08d-x2-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos08t-x1-min.jpg 1x,
                    ./images/main/more-photos08t-x2-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <img
                  src="./images/main/more-photos08d-x1-min.jpg"
                  alt="3DФігурки"
                  class="image"
                /> </picture
            ></a>
          </li>
          <li class="more-photos__item items">
            <a href="" class="more-photos__link"
              ><picture>
                <source
                  srcset="
                    ./images/main/more-photos09d-x1-min.jpg 1x,
                    ./images/main/more-photos09d-x2-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos09t-x1-min.jpg 1x,
                    ./images/main/more-photos09t-x2-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <img
                  src="./images/main/more-photos09d-x1-min.jpg"
                  alt="3DФігурки"
                  class="image"
                /> </picture
            ></a>
          </li>
          <li class="more-photos__item items">
            <a href="" class="more-photos__link"
              ><picture>
                <source
                  srcset="
                    ./images/main/more-photos10d-x1-min.jpg 1x,
                    ./images/main/more-photos10d-x2-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos10t-x1-min.jpg 1x,
                    ./images/main/more-photos10t-x2-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <img
                  src="./images/main/more-photos10d-x1-min.jpg"
                  alt="3DФігурки"
                  class="image"
                /> </picture
            ></a>
          </li>
          <li class="more-photos__item items">
            <a href="" class="more-photos__link"
              ><picture>
                <source
                  srcset="
                    ./images/main/more-photos11d-x1-min.jpg 1x,
                    ./images/main/more-photos11d-x2-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos11t-x1-min.jpg 1x,
                    ./images/main/more-photos11t-x2-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <img
                  src="./images/main/more-photos11d-x1-min.jpg"
                  alt="3DФігурки"
                  class="image"
                /> </picture
            ></a>
          </li>
          <li class="more-photos__item items">
            <a href="" class="more-photos__link"
              ><picture>
                <source
                  srcset="
                    ./images/main/more-photos12d-x1-min.jpg 1x,
                    ./images/main/more-photos12d-x2-min.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./images/main/more-photos12t-x1-min.jpg 1x,
                    ./images/main/more-photos12t-x2-min.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <img
                  src="./images/main/more-photos12d-x1-min.jpg"
                  alt="3DФігурки"
                  class="image"
                /> </picture
            ></a>
          </li>
        </ul>
        <!-- The Modal -->
        <div id="myModal" class="modal">
          <!-- The Close Button -->
          <span class="close">&times;</span>
          <!-- Modal Content (The Image) -->
          <img
            class="modal-content"
            id="img01"
            src="./images/main/more-photos06d-x2-min.jpg"
            style="width: 100%"
            alt="3D Фігурки"
          />
          <!-- Modal Caption (Image Text) -->
          <div id="caption"></div>
        </div>
        <div class="lds-spinner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</section>
