<section class="gallery">
  <div class="container">
   <h2 class=" gallery__heading">ГАЛЕРЕЯ</h2>
  <ul class="gallery-list list">
      <li class="gallery-list__item">
          <picture>
            <source srcset="./images/main/gallery-01d-x1-min.jpg 1x, 
            ./images/main/gallery-01d-x2-min.jpg 2x"
            media="(min-width: 1440px)">
            <source srcset="./images/main/gallery-01t-x1-min.jpg 1x, 
            ./images/main/gallery-01t-x2-min.jpg 2x"
            media="(min-width: 768px)">
            <source srcset="./images/main/gallery-01m-x1-min.jpg 1x, 
            ./images/main/gallery-01m-x2-min.jpg 2x"
            media="(max-width: 767px)"> 
            <img src="./images/main/gallery-01m-x1-min.jpg" alt="Візуальний аналіз моделі" />
          </picture>
          <h3 class="gallery-list__heading">Інженерні методи аналізу та контролю якості</h3>
      </li>
      <li class="gallery-list__item">
          <picture>
            <source srcset="./images/main/gallery-02d-x1-min.jpg 1x, 
            ./images/main/gallery-02d-x2-min.jpg 2x"
            media="(min-width: 1440px)">
            <source srcset="./images/main/gallery-02t-x1-min.jpg 1x, 
            ./images/main/gallery-02t-x2-min.jpg 2x"
            media="(min-width: 768px)">
            <source srcset="./images/main/gallery-02m-x1-min.jpg 1x, 
            ./images/main/gallery-02m-x2-min.jpg 2x"
            media="(max-width: 767px)"> 
            <img src="./images/main/gallery-02m-x1-min.jpg" alt="Сканування моделі"/>
          </picture>
          <h3 class="gallery-list__heading">Високоточне 3D сканування</h3>
      </li>
      <li class="gallery-list__item">
          <picture>
            <source srcset="./images/main/gallery-03d-x1-min.jpg 1x, 
            ./images/main/gallery-03d-x2-min.jpg 2x"
            media="(min-width: 1440px)">
            <source srcset="./images/main/gallery-03t-x1-min.jpg 1x, 
            ./images/main/gallery-03t-x2-min.jpg 2x"
            media="(min-width: 768px)">
            <source srcset="./images/main/gallery-03m-x1-min.jpg 1x, 
            ./images/main/gallery-03m-x2-min.jpg 2x"
            media="(max-width: 767px)"> 
            <img src="./images/main/gallery-03m-x1-min.jpg" alt="Точна копія моделі"/>
          </picture>
          <h3 class="gallery-list__heading">Створення точної копії на базі сканування reverse engineering</h3>
      </li>
      <li class="gallery-list__item">
          <picture>
            <source srcset="./images/main/gallery-04d-x1-min.jpg 1x, 
            ./images/main/gallery-04d-x2-min.jpg 2x"
            media="(min-width: 1440px)">
            <source srcset="./images/main/gallery-04t-x1-min.jpg 1x, 
            ./images/main/gallery-04t-x2-min.jpg 2x"
            media="(min-width: 768px)">
            <source srcset="./images/main/gallery-04m-x1-min.jpg 1x, 
            ./images/main/gallery-04m-x2-min.jpg 2x"
            media="(max-width: 767px)"> 
            <img src="./images/main/gallery-04m-x1-min.jpg" alt="Цикли моделювання" />
          </picture>
          <h3 class="gallery-list__heading">Всі цикли 3D проектування, створення фотореалістичних цифрових моделей</h3>
      </li>
  </ul>
  </div>
</section>