<section class="order-hero">
  <h1 class="order-hero__title">ЗРОБИТИ ЗАМОВЛЕННЯ</h1>
  <div class="order-hero__wrap">
    <div class="order-hero__bg-img"></div>
    <ul class="order-hero__list">
      <li class="order-hero__item">
        <p class="order-hero__text">
          На цій сторінці ви можете зробити замовлення заповнивши форму і ми
          зв'яжемося з вами.
        </p>
      </li>
      <li class="order-hero__item">
        <p class="order-hero__text">
          Наші фахівці допоможуть підібрати оптимальні для вас параметри і
          дадуть відповідь на всі ваші запитання.
        </p>
      </li>
    </ul>
    <div class="order-hero__img-one"></div>
    <div class="order-hero__img-two"></div>
    <div class="order-hero__img-three"></div>
  </div>
</section>
