<section class="section">
    <div class="container">
        <ul class="list">
            <li class="contacts">
             <h3 class="title">ТЕЛЕФОНИ</h3>
             <ul class="contacts__number">
              <li class="contacts__list"><a class="contacts__tel" href="tel:+380957384551">+38 (095) -73-84-551</a></li>
              <li class="contacts__list"><a class="contacts__tel" href="tel:+380980025235">+38 (098) -00-25-235</a></li>
             </ul>
            </li>
            <li class="contacts">
             <h3 class="title">Email</h3>
             <a class="contacts__mail" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
            </li>
            <li class="contacts work">
             <h3 class="title">РОБОЧИЙ ЧАС</h3>
             <ul class="work__time">
               <li class="time">
                 <p class="paragraph">Пн-Пт:</p>
                 <p class="paragraph">З 8:00 До 19:00</p>
               </li>
               <li class="time">
                <p class="paragraph">Сб, Нд:</p>
                <p class="paragraph">З 10:00 До 17:00</p>
               </li>
             </ul>
            </li>
          </ul>
    </div>
    <div class="container picture">
      <ul class="tabs">
        <li class="picture-one"><img class="pict" src="/src/images/contacts/1.png"  alt="pic-1" width="140" height="140"/></li>
        <li class="picture-two"><img class="pict" src="/src/images/contacts/2.png"  alt="pic-2" width="140" height="140"></li>
        <li class="picture-thr"><img class="pict" src="/src/images/contacts/3.png"  alt="pic-3" width="140" height="140"></li>
        <li class="picture-four"><img class="pict" src="/src/images/contacts/4.png"  alt="pic-4" width="140" height="140"></li>
        <li class="picture-five"><img class="pict" src="/src/images/contacts/5.png"  alt="pic-5" width="140" height="140"></li>
        <li class="picture-six"><img class="pict" src="/src/images/contacts/6.png"  alt="pic-6" width="140" height="140"></li>
      </ul>
    </div>
</section>