.take-order-btn {
  display: block;
  margin: 40px auto 60px auto;
  padding: 16px 32px;
  width: 280px;
  height: 56px;
  background-color: #f5f5fa;
  border-radius: 30.5px;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;

  @include font(700, 16px, 1.5, 0.1em);
  text-transform: uppercase;

  color: var(--secondary-color);
  &:hover {
    background-color: #fff176;
  }

  @include tablet {
    margin: 60px auto 60px auto;
  }

  @include desktop {
    margin: 80px auto 80px auto;
  }
}
