.modeling-creating > .container {
  margin-top: 40px;
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @include tablet {
    max-width: 768px;
    gap: 24px;
  }

  @include desktop {
    max-width: 1440px;
    margin-top: 100px;
    gap: 40px;
  }
}

.modeling-creating__title {
  @include font(700, 16px, 1.25, null);
  color: #487996;

  @include tablet {
    @include font(700, 24px, 1.25, null);
  }

  @include desktop {
    @include font(700, 36px, 1.25, null);
  }
}

.modeling-creating__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 16px;

  @media screen and (max-width: 767px) {
    max-width: 320px;
  }

  @include tablet {
    flex-wrap: nowrap;
    gap: 32px;
  }
}
