.scanning-hero > .container {
  position: relative;
  padding-top: 92px;
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  gap: 16px;

  @include tablet {
    max-width: 768px;
    padding-top: 104px;
  }
  @include desktop {
    max-width: 1440px;
    padding-top: 190px;
    gap: 24px;
  }
}

.scanning-hero__title {
  font-family: 'Cera Pro';
  font-style: normal;
  @include font(700, 24px, 1.25, null);
  color: var(--secondary-color);

  @include tablet {
    font-family: 'Cera Pro';
    font-style: normal;
    @include font(700, 36px, 1.25, null);
  }

  @include desktop {
    font-family: 'Cera Pro';
    font-style: normal;
    @include font(700, 48px, 1.25, null);
  }
}

.scanning-hero__list {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    margin-bottom: 0;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 72px;
  }
}

.scanning-hero__description {
  font-family: 'Cera Pro';
  font-style: normal;
  @include font(300, 16px, 1.25, null);
  color: var(--primary-color);

  @include tablet {
    max-width: 514px;
  }

  @include desktop {
    @include font(300, 18px, 1.28, null);
  }
}

.scanning-hero__description--first {
  margin-bottom: 16px;
}

.scanning-hero__img {
  @include tablet {
    position: absolute;
    right: 6px;
    top: 265px;
    z-index: -1;
    margin-bottom: auto;
  }

  @include desktop {
    right: 400px;
    right: 269px;
    top: 366px;
  }
}
