.take-order-btn {
  margin: 40px auto 60px auto;
  padding: 16px 32px;
  width: 280px;
  height: 56px;
  background-color: #f5f5fa;
  border-radius: 30.5px;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  cursor: pointer;

  &:hover {
    background-color: #fff176;
  }

  @include tablet {
    width: 277px;
    padding: 16px 31px;
    margin: 60px auto 60px auto;
  }

  @include desktop {
    margin: 80px auto 80px auto;
  }
}

.take-order-btn__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
