.scanning-process > .container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 320px;

  @include tablet {
    max-width: 768px;
    gap: 24px;
  }

  @include desktop {
    padding-top: 100px;
    max-width: 1440px;
    gap: 40px;
  }
}

.scanning-process__title {
  font-family: 'Cera Pro';
  font-style: normal;
  @include font(700, 18px, 1.28, null);
  color: var(--secondary-color);

  @include tablet {
    @include font(700, 24px, 1.25, null);
  }

  @include desktop {
    @include font(700, 36px, 1.25, null);
  }
}

.scanning-process__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;
  column-gap: 20px;

  @include tablet {
    gap: 32px;
    flex-wrap: nowrap;
  }
}

.scanning-process__item-title {
  display: block;
  font-family: 'Cera Pro';
  font-style: normal;
  @include font(400, 14px, 1.28, null);
  text-align: center;
  text-align: center;
  color: var(--secondary-color);
  min-width: 50px;
  word-wrap: break-word;

  @include desktop {
    @include font(300, 18px, 1.28, null);
  }
}

.scanning-process__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 21px;

  width: 133px;
  height: 183px;
  background: #ffffff;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px #cbcbcb, inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
  flex-basis: calc((100% - 30px) / 2);
}

.img-one::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -95%);
  content: url(../images/3d-scan/3d-scan01m-x1.png);
}
.img-two::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -95%);
  content: url(../images/3d-scan/3d-scan02m-x1.png);
}
.img-three::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -95%);
  content: url(../images/3d-scan/3d-scan03m-x1.png);
}
.img-four::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -95%);
  content: url(../images/3d-scan/3d-scan04m-x1.png);
}

@include tablet {
  .scanning-process__item {
    width: 153px;
    height: 210px;
    flex-basis: calc((100% - 48px) / 4);
  }
  .img-one::before {
    content: url(../images/3d-scan/3d-scan01t-x1.png);
  }
  .img-two::before {
    content: url(../images/3d-scan/3d-scan02t-x1.png);
  }
  .img-three::before {
    content: url(../images/3d-scan/3d-scan03t-x1.png);
  }
  .img-four::before {
    content: url(../images/3d-scan/3d-scan04t-x1.png);
  }
}

@include desktop {
  .scanning-process__item {
    width: 250px;
    height: 298px;

    flex-basis: calc((100% - 84px) / 4);
  }
  .img-one::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    content: url(../images/3d-scan/3d-scan01d-x1.png);
  }
  .img-two::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    content: url(../images/3d-scan/3d-scan02d-x1.png);
  }
  .img-three::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    content: url(../images/3d-scan/3d-scan03d-x1.png);
  }
  .img-four::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    content: url(../images/3d-scan/3d-scan04d-x1.png);
  }
}

.scanning-process__item-title-one,
.scanning-process__item-title-two {
  display: block;
}

@include desktop {
  .scanning-process__item-title-one {
    display: inline;
  }
}
