.modeling-hero > .container {
  padding-top: 92px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 320px;

  @include tablet {
    padding-top: 104px;
    max-width: 768px;
  }

  @include desktop {
    padding-top: 190px;
    max-width: 1440px;
    gap: 24px;
  }
}

.modeling-hero__title {
  @include font(700, 24px, 1.25, null);
  color: #487996;

  @include tablet {
    @include font(700, 36px, 1.25, null);
  }

  @include desktop {
    @include font(700, 48px, 1.25, null);
  }
}

.modeling-hero__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @include desktop {
    justify-content: space-between;
    gap: 72px;
  }
}

.modeling-hero__item {
  @include font(300, 16px, 1.25, null);
  color: #2b2b2b;
  max-width: 280px;

  @include tablet {
    max-width: 515px;
  }

  @include desktop {
    @include font(300, 18px, 1.28, null);
    max-width: 515px;
  }
}
