.container-desktop {
  padding-top: 92px;
  padding-bottom: 60px;
  width: 280px;
  @include tablet {
    width: 768px;
    padding-top: 104px;
  }
  @include desktop {
    width: 1440px;
    padding-top: 190px;
  }
}
.hero-title {
  @include font(700, 24px, calc(30 / 24), null);
  font-family: var(--font-main);
  color: var(--secondary-color);

  margin-bottom: 16px;
  @include tablet {
    font-size: 36px;
    line-height: calc(45 / 36);
  }
  @include desktop {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: calc(60 / 48);
  }
  text-align: left;
}
.contacts-hero__container {
  @media screen and (max-width: 767px) {
    width: 280px;
  }
  @include tablet {
    display: flex;
    width: 768px;
  }
  @include desktop {
    width: 1440px;
  }
}
.contacts-hero__content {
  @include tablet {
    margin-left: 32px;
  }
}
.contacts-hero__frame {
  display: block;
  border-radius: 15px;
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    // margin-left: auto;
    // margin-right: auto;
    width: 280px;
    height: 171px;
  }
  @include tablet {
    width: 336px;
    height: 261px;
    margin-bottom: 40px;
  }

  @include desktop {
    width: 555px;
    height: 315px;
  }
}

.contacts-hero__text {
  @include font(500, 16px, calc(20 / 16), null);
  font-family: var(--font-main);
  color: var(--primary-color);
  gap: 16px;
  margin-bottom: 20px;
  display: flex;

  @include tablet {
    display: block;
    width: 323px;
  }
  @include desktop {
    display: block;
    width: 515px;
    margin-bottom: 24px;
  }
}

.contacts-hero__emoji {
  display: flex;
  gap: 8px;
  @include desktop {
    display: block;
  }
}
.contacts-hero__emoji {
  @include font(500, 16px, calc(20 / 16), null);
  font-family: var(--font-main);
  color: var(--primary-color);
}
.contacts-hero__icon {
  width: 22px;
  height: 22px;
  @include desktop {
    margin-top: 57px;
    width: 49px;
    height: 49px;
  }
}
