.footer {
  background-color: #f5f5fa;
  box-shadow: 5px 2px 5px 8px rgba(72, 121, 150, 0.1);

  &__logo {
    padding-bottom: 20px;

    @include tablet {
      margin: 0 auto;
    }

    @include desktop {
      margin: 0;
      padding-right: 277px;
    }
  }

  &__nav,
  &__socs,
  &__email {
    margin-bottom: 24px;
  }

  &__contacts {
    font-style: normal;
  }

  &__link {
    @include font(null, 16px, 1.25, 0.01em);
    color: var(--primary-color);

    transition: color var(--duration), var(--timing-function);

    &:hover,
    &:focus {
      color: #1a3ebd;
    }
  }

  &__text,
  &__item:not(:last-child),
  &__tel:not(:last-child) {
    margin-bottom: 8px;
  }

  &__tel,
  &__email {
    display: block;
    color: var(--secondary-color);

    transition: color var(--duration), var(--timing-function);

    &:hover,
    &:focus {
      color: #1a3ebd;
    }

    color: var(--secondary-color);
  }
}
