.gallery > .container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 320px;

  @include tablet {
    padding-top: 60px;
    max-width: 768px;
  }
  @include desktop {
    padding-top: 120px;
    max-width: 1440px;
  }
}

.gallery__heading {
  @include font(700, 24px, 1.25, null);
  color: var(--secondary-color);
  margin-bottom: 16px;

  @include tablet {
    @include font(700, 36px, 1.25, null);
    margin-bottom: 32px;
  }

  @include desktop {
    @include font(700, 48px, 1.25, null);
    margin-bottom: 62px;
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @include tablet {
    justify-content: space-between;
    gap: 32px;
  }

  @include desktop {
    row-gap: 40px;
  }
}

.gallery-list__item {
  width: 280px;
  @include tablet {
    width: 336px;
  }
  @include desktop {
    width: 555px;
  }
}

.gallery-list__heading {
  @include font(300, 16px, 1.25, null);
  color: var(--secondary-color);
  margin-top: 8px;
  max-width: 320;

  @include tablet {
    margin-top: 16px;
    max-width: 336px;
  }
  @include desktop {
    @include font(300, 18px, 1.28, null);
    max-width: 555px;
  }
}
