.gallery > .container {
  display: flex;
  flex-direction: column;

  padding: 40px 20px;
  @include tablet {
    padding: 60px 32px;
  }
  @include desktop {
    padding-top: 120px 32px;
  }
}
.gallery__heading {
  justify-content: left;
  @include font(700, 24px, 1.25, null);
  color: var(--accent-color);
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 32px;
    font-size: 36px;
    line-height: calc(45 / 36);
  }
  @include desktop {
    margin-bottom: 62px;
    font-size: 48px;
    line-height: calc(60 / 48);
    margin-left: 149px;
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
  row-gap: 24px;
  width: 100%;
}

.gallery-list__item {
  width: 280px;
  @include tablet {
    width: 336px;
  }
  @include desktop {
    width: 555px;
  }
}

.gallery-list__heading {
  @include font(300, 16px, 1.25, null);
  color: var(--accent-color);
  margin-top: 8px;
  max-width: 320;
  @include tablet {
    margin-top: 16px;
    max-width: 336px;
  }
  @include desktop {
    font-size: 18px;
    line-height: calc(23 / 18);
    max-width: 555px;
  }
}
