body.modal-open {
  overflow: hidden;
}
.more-photos {
  padding-top: 40px;
  padding-bottom: 60px;
  @include tablet {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  @include desktop {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}
.more-photos > .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1440px;
  }
}

.more-photos__title {
  @include font(700, 24px, 1.25, null);
  color: var(--secondary-color);
  margin-bottom: 16px;

  @include tablet {
    @include font(700, 36px, 1.25, null);
    margin-bottom: 32px;
  }
  @include desktop {
    @include font(700, 48px, 1.25, null);
    margin-bottom: 60px;
  }
}

.more-photos__list {
  display: block;
  list-style: none;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.items {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.image {
  @media screen and (max-width: 480px) {
    max-width: 100%;
  }
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 12px;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: none;
  }
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: ' ';
  width: 3px;
  height: 13px;
  background: #487996;
  border-radius: 20%;
  display: block;
  position: absolute;
  top: 13px;
  left: 37px;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.photo-div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.3s;
  transition: transform var(--duration) linear;
}

@keyframes zoom {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
