.order-hero {
  padding-top: 92px;
  padding-bottom: 40px;

  position: relative;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include tablet {
    padding-top: 104px;
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }

  @include desktop {
    padding-top: 190px;
    padding-bottom: 100px;
    padding-left: 117px;
    width: 1440px;
  }
}
.order-hero__title {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: var(--secondary-color);

  @include tablet {
    font-size: 36px;
    text-align: start;
    width: 704px;
  }

  @include desktop {
    font-size: 48px;
    margin-bottom: 24px;
  }
}

.order-hero__bg-img {
  margin-bottom: 16px;
  width: 280px;
  height: 171px;
  background-image: url('../images/order/order-hero-mx1.jpg');
  border-radius: 15px;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url('../images/order/order-hero-mx2.jpg');
  }

  @include tablet {
    margin-right: 32px;
    margin-bottom: 0;
    width: 336px;
    height: 158px;
    background-image: url('../images/order/order-hero-tx1.jpg');

    @include retina {
      background-image: url('../images/order/order-hero-tx2.jpg');
    }
  }

  @include desktop {
    width: 555px;
    height: 400px;
    background-image: url('../images/order/order-hero-dx1.jpg');

    @include retina {
      background-image: url('../images/order/order-hero-dx2.jpg');
    }
  }
}

.order-hero__wrap {
  @media screen and (max-width: 767px) {
    width: 280px;
  }
  @include tablet {
    width: 768px;
    display: flex;
    align-items: center;
  }

  @include desktop {
    width: 1440px;
    align-items: start;
    position: relative;
  }
}

.order-hero__img-one {
  display: none;

  @include desktop {
    display: block;
  }

  position: absolute;
  top: 176px;
  left: 587px;
  background-image: url('../images/order/order-01d-x1.jpg');
  background-size: 203px;
  width: 203px;
  height: 203px;
  border-radius: 0px 72px 72px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);

  @include retina {
    background-image: url('../images/order/order-01d-x2.jpg');
  }
}

.order-hero__img-two {
  display: none;

  @include desktop {
    display: block;
  }

  position: absolute;
  width: 203px;
  height: 203px;
  background-size: 203px;
  background-image: url('../images/order/order-02d-x1.jpg');
  top: 176px;
  left: 822px;
  border-radius: 72px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);

  @include retina {
    background-image: url('../images/order/order-02d-x2.jpg');
  }
}

.order-hero__img-three {
  display: none;

  @include desktop {
    display: block;
  }

  position: absolute;
  width: 203px;
  height: 203px;
  background-size: 203px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
  background-image: url('../images/order/order-03d-x1.jpg');
  top: 176px;
  left: 1056px;
  border-radius: 0px 0px 72px 0px;

  @include retina {
    background-image: url('../images/order/order-03d-x2.jpg');
  }
}

.order-hero__list {
  @include tablet {
    width: 336px;
    height: 116px;
  }

  @include desktop {
    width: 672px;
    padding-right: 110px;
  }
}

.order-hero__item:not(:last-child) {
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 0;
  }

  @include desktop {
    margin-bottom: 24px;
  }
}

.order-hero__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color);

  @include desktop {
    font-size: 18px;
    line-height: 1.277;
  }
}
